body {
  margin: 0;
  /* background-color: #5b503d; */
  background-color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPageHeader{
  font-family: 'Square Peg', cursive;
  /* font-size: 9rem; */
  font-size: 800%;
}

.profileImage{
  height: 2.2rem;
  width: 2.2rem;
}

.mainCarousal{
  margin-left: 10rem;
  margin-right: 10rem;
}

.carousalImages{
  /* background-attachment: fixed; */
  /* background-size: cover; */
  display:inline-block;
    margin: 0 auto;
    height: auto; 
    width: auto; 
    /* max-height: 5%; */
    max-width: 35%; 
}

.mainImage{
  height: 10rem;
  background-attachment: fixed;
  background-size: cover;
  /* width: 10rem; */
  /* border-radius:50%; */
}

.homePageCard{
  /* background-color: red; */
  /* box-shadow:  4px 8px 0 rgba(210, 33, 33, 0.2) */
  /* box-shadow: 0 4px 8px 0 rgba(252, 248, 248, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 5px 5px 20px rgb(4, 3, 3);
  /* opacity: 1; */
  /* background-color: transparent; */
}

.userOrderHistory{
  box-shadow: 5px 5px 20px rgb(4, 3, 3);
}

.homePageCard:hover{
  transform: scale(1.1)
}

.navBarLinks:hover{
  transform: scale(1.2)
}

.logOutButton:hover{
  /* transform: scale(1.1) */
  background-color: white;
}

.userNavBar{
  background-color: #1d1a0c;
  /* color: red; */
}

/* .addCartButton{
  background: #654813 , !important;
}

.addCartButton:hover{
  background: aliceblue, !important;
} */

.cartBadge{
 float: right 
}

/* .pendingTopRow{ */
  /* background-color: bisque; */
  /* height: 5rem; */
/* } */

.pendingOrderBottomMargin{
  margin-bottom: 20rem;
  margin-top: 2rem;
}

.individalPendingOrderMargin{
  margin-bottom: 2rem;
}

.userOrderHistory{
  margin-bottom: 1rem
}

.submitPreviewImageComp{
  padding-bottom: 20%
}